m1{
    font-family: "Amasis MT Pro Black";
        font-size: 20px;
        color:#ffffff;
        line-height: 10%;
}
n1{
    font-family: "Brush Script MT";
        font-size: 55px; 
        color:#E7E6E6;
}   
s3{
    font-family: "Bernard MT Condensed";
        font-size: 3vh; 
        color:#D9D9D9;
}
s4{
    font-family: "Bahnschrift";
        font-size: 2vh; 
        color:#D9D9D9;
}
s5{
    font-family: "Bahnschrift";
        font-size: 10vh; 
        color: #FFFFFF;
}